{% extends "base/main.html" %}


{% block content  %}
<section>
    <div class="todo">
        <h2>{{todo.title}}</h2>
        <p>{{todo.description}}</p>
        <img src='{{todo.image.url}}' alt='todo-image'/>
    </div>
    <div>
        <a href="{% url 'todo-update' pk=todo.id %}">Update</a>
        <form action="{% url 'todo-delete' pk=todo.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    </div>
</section>
{% endblock content  %}